@model Candidate
 <!-- #region 
<form method="post" asp-action="Apply">
bu kısımda /course/Apply yazmak zorunda değiliz get ile gelen sayfa corusecontorllerden geldiği için
asp-action="Apply" yeterli olacaktır.
    #region  -->
<form method="post" asp-action="Apply">
<div class="from-group my-2">
    <label asp-for="Email"></label>
    <input  asp-for="Email"  class="form-control">
</div>
<div class="from-group my-2">
    <label asp-for="FirstName"></label>
    <input  asp-for="FirstName"  class="form-control">
</div>
<div class="from-group my-2">
    <label asp-for="LastName"></label>
    <input  asp-for="LastName" class="form-control">
</div>
<div class="from-group my-2">
    <label asp-for="Age"></label>
    <select asp-for="Age"  id="" class="form-control">
        
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
    </select>
</div>

<fieldset>
    <legend>Select One Course</legend>
<div class="from-check my-2" >
    <input class="form-check-input" type="radio" id="mvc" asp-for="SelectedCourse" value="ASP .NET CORE MVC">
    <label class="form-check-label">ASP .NET CORE MVC</label>
</div>
<div class="from-check my-2" >
    <input id="api" class="from-check-input" type="radio" asp-for="SelectedCourse" value="ASP .NET API">
    <label class="form-check-label">ASP .NET CORE API</label>
</div>
<div class="from-check my-2" >
    <input id="Blozer" class="from-check-input" type="radio" asp-for="SelectedCourse" value="blozer">
    <label class="form-check-label">BLOZER</label>
</div>
</fieldset>


<div class="from-group my-2">
    <button type="submit" class="btn btn-primary my-2">Apply</button>
    <button type="button" class="btn btn-warning" href>Home</button>
</div>
</form>
